<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SD1ServerConnection" connectionString="data source=RAC-R410\RAGIS;Initial Catalog=SD1;Integrated Security=False;User Id=sd1web;Password=stratagissd1;MultipleActiveResultSets=True;Connect Timeout=60;" providerName="System.Data.SqlClient"/>
    <add name="GEPServerConnection" connectionString="data source=RAC-R410\RAGIS;Initial Catalog=GEP;Integrated Security=False;User Id=gepweb;Password=gepstratagis;MultipleActiveResultSets=True;Connect Timeout=60;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Infragistics Controls-->
        <add tagPrefix="ig" namespace="Infragistics.Web.UI" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.LayoutControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.ListControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.DataSourceControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.EditorControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.GridControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.NavigationControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.UI.DisplayControls" assembly="Infragistics4.Web.v14.2"/>
        <add tagPrefix="igjq" namespace="Infragistics.Web.UI.DisplayControls" assembly="Infragistics4.Web.jQuery.v14.2"/>
        <add tagPrefix="igjq" namespace="Infragistics.Web.UI.EditorControls" assembly="Infragistics4.Web.jQuery.v14.2"/>
        <add tagPrefix="igmisc" namespace="Infragistics.WebUI.Misc" assembly="Infragistics4.WebUI.Misc.v14.2"/>
        <add tagPrefix="ig_spell" namespace="Infragistics.WebUI.WebSpellChecker" assembly="Infragistics4.WebUI.WebSpellChecker.v14.2"/>
        <add tagPrefix="ig_sched" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v14.2"/>
        <add tagPrefix="ig_scheduledata" namespace="Infragistics.WebUI.Data" assembly="Infragistics4.WebUI.WebScheduleDataProvider.v14.2"/>
        <add tagPrefix="igsch" namespace="Infragistics.WebUI.WebSchedule" assembly="Infragistics4.WebUI.WebSchedule.v14.2"/>
        <add tagPrefix="igtbar" namespace="Infragistics.WebUI.WebSchedule.UltraWebToolbar" assembly="Infragistics4.WebUI.WebSchedule.v14.2"/>
        <add tagPrefix="igtab" namespace="Infragistics.WebUI.WebSchedule.UltraWebTab" assembly="Infragistics4.WebUI.WebSchedule.v14.2"/>
        <add tagPrefix="ighedit" namespace="Infragistics.WebUI.WebHtmlEditor" assembly="Infragistics4.WebUI.WebHtmlEditor.v14.2"/>
        <add tagPrefix="igchartprop" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v14.2"/>
        <add tagPrefix="igchart" namespace="Infragistics.UltraChart.Resources.Appearance" assembly="Infragistics4.WebUI.UltraWebChart.v14.2"/>
        <add tagPrefix="igchartdata" namespace="Infragistics.UltraChart.Data" assembly="Infragistics4.WebUI.UltraWebChart.v14.2"/>
        <add tagPrefix="igchart" namespace="Infragistics.WebUI.UltraWebChart" assembly="Infragistics4.WebUI.UltraWebChart.v14.2"/>
        <add tagPrefix="iggauge" namespace="Infragistics.WebUI.UltraWebGauge" assembly="Infragistics4.WebUI.UltraWebGauge.v14.2"/>
        <add tagPrefix="iggauge" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v14.2"/>
        <add tagPrefix="iggaugeprop" namespace="Infragistics.UltraGauge.Resources" assembly="Infragistics4.WebUI.UltraWebGauge.v14.2"/>
        <add tagPrefix="igcalc" namespace="Infragistics.WebUI.UltraWebCalcManager" assembly="Infragistics4.WebUI.UltraWebCalcManager.v14.2"/>
        <add tagPrefix="igtk" namespace="Infragistics.WebUI" assembly="Infragistics4.WebUI.WebResizingExtender.v14.2"/>
        <add tagPrefix="igtxt" namespace="Infragistics.WebUI.WebDataInput" assembly="Infragistics4.WebUI.WebDataInput.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <!--Infragistics Samples Browser Custom-->
        <add tagPrefix="igsb" namespace="LocalizationUtils"/>
        <!--Infragistics Samples Browser-->
        <add tagPrefix="ig" namespace="Infragistics.Web.SampleBrowser.Core.Framework.Controls" assembly="Infragistics.Web.SampleBrowser.Core.Framework"/>
        <add tagPrefix="ig" namespace="Infragistics.Web.SampleBrowser.Core.Framework.Web.UI.WebControls" assembly="Infragistics.Web.SampleBrowser.Core.Framework"/>
        <!--Microsoft Controls-->
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--Infragistics Assemblies-->
        <add assembly="Infragistics4.Web.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Shared.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Excel.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Word.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.Reports.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Documents.IO.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.Misc.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebDataInput.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebSchedule.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebScheduleDataProvider.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebSpellChecker.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebHtmlEditor.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.WebResizingExtender.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebChart.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebGauge.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.WebUI.UltraWebCalcManager.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <add assembly="Infragistics4.Web.jQuery.v14.2, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        <!--Microsoft Assemblies-->
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DomainServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.DomainServices.LinqToSql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.codedom>

  </system.codedom>
</configuration>