

@font-face {
    font-family: Iceland-Regular;
    src: url('~/fonts/Iceland-Regular.eot'); /* this will be applied from IE 9 compatibility mode*/
    src: url('~/fonts/Iceland-Regular.eot?') format('embedded-opentype'), /* IE prior versions */ url('~/fonts/Iceland-Regular.woff') format('woff'), /* modern browser that support web open font */ url('~/fonts/Iceland-Regular.ttf') format('truetype'); /* browsers that support true type */
}

.Title {
    font-family: Iceland-Regular, Arial;
    font-size: 50px;
    color: #636466;
}

.Logo {
    font-family: Iceland-Regular, Arial;
    font-size: 60px;
}

.HeaderCaptionClass {
    background-color: #0093D0;
    text-align: center;
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #636466;
    font-weight: 700;
    padding: 4px;
}

.ItemCssClass {
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #636466;
}

.AltItemCssClass {
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #636466;
    background-color: #88DBFF;
}

.RightAlign {
    text-align: right;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #636466;
    padding: 4px;
}

.CenterAlign {
    text-align: center;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #636466;
    padding: 4px;
}

.LeftAlign {
    text-align: left;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #636466;
    padding: 4px;
}

.ighg_GroupIndentHeaderCell {
    background-color: transparent;
    border-color: #777777 #777777 #777777 #888888;
    border-style: solid;
    border-width: 1px;
}

.ighg_GroupedColumn {
    color: #FFFFFF;
    background: #888888;
    padding: 3px 5px 0px 10px;
    display: inline-block;
    height: 16px;
}


.ighg_GroupedColumnRightEdge {
    background-color: #888888;
    background-repeat: no-repeat;
    background-image: url(images/ighg_GroupedColumnRightEdgeBg.png);
    padding-top: 3px;
    display: inline-block;
    width: 10px;
    height: 16px;
}


.ighg_GroupedColumnRightEdgeEnd {
    background-repeat: no-repeat;
    background-image: url(images/ighg_GroupedColumnRightEdgeEndBg.gif);
    padding-top: 3px;
    display: inline-block;
    width: 10px;
    height: 16px;
}

.ighg_GroupedBand {
    background: #666666;
    padding: 3px 0px 0px 10px;
    display: inline-block;
    height: 16px;
    color: #FFFFFF;
}


.ighg_GroupedBandRightEdge {
    background: #666666;
    padding: 3px 0px 0px 0px;
    display: inline-block;
    width: 10px;
    height: 16px;
}
